@page
@model FoodStore.Pages.Foods.IndexModel
@using FoodStore.Pages.Foods

@{
    ViewData["Title"] = "Index";
}

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].FoodDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodDescription)
            </td>
            <td>
                    @if(item.Image != null)
                    {
                        <img style="width:auto;height:100px;" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" alt="Food Image" />
                    }
                    else
                    {
                        <h5>Not Available</h5>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.foodId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.foodId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.foodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<div class="container pt-5">
    <div class="container-fluid p-0 d-flex flex-row justify-content-between">
        <h3 style="color:#00712D">All Menu</h3>
        <p class="">
            <a class="btn border-1 btn-outline-success" asp-page="Create"><i class="bi bi-plus-circle"></i>&nbsp;Create New</a>
        </p>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Food)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img style="width:100%;height:500px;object-fit:contain;object-position:center;max-height:300px;" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.FoodName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.FoodDescription)</p>
                        </div>
                    </div>
                </div>

            }
        </div>
        
    </div>
</div>

